name: MLflow CI Pipeline (Skilled)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run actions/checkout@v3
        uses: actions/checkout@v3

      - name: Set up Python 3.12.6
        uses: actions/setup-python@v4
        with:
          python-version: "3.12.6"

      - name: Check Env
        run: |
          echo "Checking Environment..."
          python --version
          pip --version

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 pandas scikit-learn matplotlib seaborn dagshub

      - name: Set MLflow Tracking URI
        run: |
          echo "MLFLOW_TRACKING_URI=file://$(pwd)/MLProject/mlruns" >> $GITHUB_ENV

      - name: Run mlflow project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      - name: Install Python dependencies
        run: |
          pip list

      - name: Upload to GitHub
        if: success()
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

          # Tambahkan seluruh folder artefak yang dihasilkan MLflow
          git add MLProject/mlruns

          git commit -m "Upload artifacts (mlruns) to GitHub" || echo "No changes to commit"
          git push
