name: MLflow CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write # Memberikan izin script untuk melakukan git push

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      # 1. Checkout code
      - name: Checkout code
        uses: actions/checkout@v3

      # 2. Setup Python
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      # 3. Install Dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow==2.19.0 pandas scikit-learn matplotlib seaborn dagshub

      # 4. Run MLflow Project (FIXED)
      # Menggunakan --env-manager=local sebagai pengganti --no-conda
      - name: Run MLflow Project
        run: |
          cd MLProject
          mlflow run . --env-manager=local

      # 5. Commit MLruns to Repo
      # Hanya dijalankan jika langkah sebelumnya SUKSES (success())
      - name: Commit MLruns to Repo
        if: success()
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"

          # Tambahkan folder mlruns (biasanya terbuat di dalam folder MLProject)
          git add MLProject/mlruns

          # Commit dan Push
          git commit -m "Add mlruns artifacts from CI" || echo "No changes to commit"
          git push
